{% extends "base.html" %}
{% block content %}

<div class="lesson">
	<h1>Lesson 1</h1>
<div class="concept">
<div class="concept-title">HTML</div>
<div class="concept-description">
<p>For this Portion if the Course i went over what HTML is and how it's used.I really did not learn much since I had already learned this in the beginning and have been practicing writing in html for the past 6 months.But here's a summary just for the sake of it, HTML stands for Hyper Text Markup Language and it is used to build web pages throughout the web. Here's a good website to look if you would like to see what html is all about <a href="http://www.w3schools.com/html/">HTML.</a></p>
</div>
</div>

<div class="concept">
<div class="concept-title">CSS</div>
<div class="concept-description">
<p>For this portion of the lesson I went over CSS.Again as with HTML before this. I did not learn much and merely went over what I have been practicing for 6 months.But for the sake of the project here is a summary of what CSS does.CSS stans for Cascading Style Sheets and it's purpose in programming is to make web pages look good by giving it all the attributes that a web page may contain for example (the web pages background color the font of the content , ect...). Heres a good web page to learn more about<a href="http://www.w3schools.com/css/default.asp">CSS.</a></p>
</div>
</div>


<div class="concept">
<div class="concept-title">Boxes</div>
<div class="concept-description">
<p>In this portion of the lesson I went over the concept of boxes and how they are used in html to seperate content into their own unique box.</p>
</div>
</div>
</div>

<div class="lesson">
<h1>Lesson 2</h1>
<div class="concept">
<div class="concept-title">CSS Frameworks</div>
<div class="concept-description">
<p>In this Portion of the lesson I was introduced to CSS frameworks. I learned that they are pre-pared software frameworks used for easier, more standard-compliant web development using CSS.</p>
</div>
</div>

<div class="concept">
<div class="concept-title">Responsive Layouts</div>
<div class="concept-description">
<p>In this portion of the lesson I was Introduced to Responsive Layouts. I learned how to utelize this to make web content look good on any device wether it be a smartphone, tablet or desktop/labtop computer. </p>
</div>
</div>
</div>
<div class="lesson">
<h1>Lesson 3</h1>

<div class="concept">
<div class="concept-title">Bootstrap</div>
<div class="concept-description">
<p>In this portion Of the Lesson I was introduced to Bootstrap. I learned how it is a very popular framework for making web pages look goof.</p>
</div>
</div>

<div class="concept">
<div class="concept-title">Other Frameworks</div>
<div class="concept-description">
<p>In this portion of the lesson i was introduced to all the other frameworks that are available to use to make my web pages look good.</p>
</div>
</div>


</div>













{% endblock %}