{% extends "base.html" %}
{% block content %}

	
	<div class="lesson">
		<h1>Why Responsive?</h1>
	<div class="concept">
	<div class="concept-title">Opening Statement</div>
	<div class="concept-description">
		<p>During this portion of this course i was shown what the point of Responsive Web Development is about.I was told that i will learn the basic guidelines that make websites look good across a range of different devices.</p>

	</div>

	</div>

	<div class="concept">
	<div class="concept-title">Art Not A Science</div>
	<div class="concept-description">
		<p>I learned that Responsive Web Development is an Art Not A science. Because of this the in no Right answer when trying to make a web page responsive as there are different ways which one can achieve this.</p>

	</div>

	</div>


<div class="concept">
	<div class="concept-title">Emulators</div>
	<div class="concept-description">
		<p>During this portion of the course i was introduced to Emulators.I was shown how they are very usefull in testing a web site on different devices.This is especially helfull because i dont have the money to buy all these deices.</p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Remote Debugging</div>
	<div class="concept-description">
		<p>In this portion of the course i was shown a video which instructed me into how to set up remote debugging with a section on setup for mobile which showed me how to turn on developer mode on my cell phone to allow for usb debugging.After doing this i was shown a video on how to use dev tools on Android and on IOS.</p >

	</div>

	</div>
</div>
<div class="lesson">
	<h1>Starting Small</h1>

<div class="concept">
	<div class="concept-title">Defining The Viewport</div>
	<div class="concept-description">
		<p>In this portion of the course I was introduced to what a viewport is.The view port defines the area of the screen that the browser can render content to. I was also able to utilize the viewport code that is given to solve one of the quiz's on this web page.</p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Pixels</div>
	<div class="concept-description">
		<p>In this portion of the course I was introduced to DIP's(Device Independent Pixels) as well as Hardware Pixels.I learned that DIP's are a unit of measurment that relates pixels to real distance.The idea is that a DIP will take up the same amount of space regardless of the pixel density.I was then given a couple of quizzes regarding hardware pixels and DIP's and finally one on calculating CSS Pixels.Here's a good source regarding DIP's <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/ff684173(v=vs.85).aspx">DIP's.</a></p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Tap Target Sizes</div>
	<div class="concept-description">
		<p>In this portion of the course the instructor went over how important it is to make sure thate the size of any button you make for your web site should be at least 48 by 48 pixels enough to give anyone with pudgy fingers the ability touse your site on a mobile device.I was then given a quiz to utilize what was just taught to me.</p>

	</div>

	</div>


<div class="concept">
	<div class="concept-title">Starting Small</div>
	<div class="concept-description">
		<p>In this portion of the Course I was shown what this Lesson means about starting small.I was shown by the instructors that a good way to build a responsive website is by first building it for a small device(phonesfor example)then test out your website on tablets and finally if necessary make it work on a labtop/desktop device.</p>

	</div>

	</div>
</div>
<div class="lesson">
<h1>Building Up</h1>


<div class="concept">
	<div class="concept-title">Media Queries</div>
	<div class="concept-description">
		<p>For this portion of the course i was introduced to media querie's and was given an introduction to their purpose in computer programming.Media Queries provide for easy logic for applying diferen styles of css depending on device characteristics like witdth,height and pixel ratio.On top on this I was shown how to add a media query to my own web page on one of the video's.</p>

	</div>

	</div>


<div class="concept">
	<div class="concept-title">Breakpoints</div>
	<div class="concept-description">
		<p>In this portion of the course i was introduced to breakpoints. I was shown their usefullness when writing code for a web page.I was shown how the webpage changes it's layout in what is called a breakpoint and depending on how your webpage runs there might be multiple breakpoints troughout.The course then went on to show how important it is for a programmer who is trying tomake his web page responsive to pick their breakpoints for more on breakpoints heres a good webpage that the course goes over <a href="www.skinnyties.com">skinnyties.com</a>  </p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Grid</div>
	<div class="concept-description">
		<p>In this portion of the course I was introduced to the grid fluid system, with the grid fluid system, columns end up wrapping to the next line as the browser width starts getting smaller.There's allot of good examples out there like Bootstrap or the 960 layout system that are easy to use and have everything done for you already.</p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Flexbox</div>
	<div class="concept-description">
		<p>In this portion of the course i was introduced to flexbox.I learned that is is a very powerfull layout tool. IT is also a really great for general purpose strategies for responsive design.I was also given a quiz where i showed off some of the Flexbox skills I had just aquired.</p>

	</div>

	</div>
</div>
<div class="lesson">
	<h1>Common Responsive Patterns</h1>
<div class="concept">
	<div class="concept-title">Intro To Patterns</div>
	<div class="concept-description">
		<p>In this portion of the lesson I was Introduced to Patterns.I learned that established patterns that work well, across any device can be categorized into one of four patterns.Mostry fluid,column drop, layout shifter, and off canvas, and in some cases a wepage will use combination of two.
		</p>

	</div>

	</div>


<div class="concept">
	<div class="concept-title">Column Drop</div>
	<div class="concept-description">
		<p>In this portion of the Course I was Introduced to the Column drop pattern.I learned that out of the four patterns Column Drop is probably the easiest.At it's narrowest viewport, each element simply stacks vertically,one on top of the other, As things get wider the elements expand, until the first break point is hit. At the firts breakpoint, instead of having all the elements stacked. Now there are two elements stacked above one element. Once that breakpoint is hit all three elements are together side by side.</p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Mostly Fluid</div>
	<div class="concept-description">
		<p>The mostly fluid pattern is very similar to the Column drop pattern with more columns and columns fitting in different ways, depending on the viewport width.just like column drop at its narrowest viewport, the layout is stacked but as the layout gets wider, the grid pattern starts to appear. and eventually once the layout hits it's widest viewport, margins are added on the left and right, instead of expanding things out.The instructor of the course then went over how to utilize this pattern by using it in css.
		</p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Layout Shifter</div>
	<div class="concept-description">
		<p>The layout shifter pattern is probably the most responsive pattern with multiple breakpoints across several differen screen widths,but the key to this layout is the way that contents moves about instead of reflowing and dropping below other columns.Flex box really shines here, because we can use the order CSS attribute.Because so much can change in each layout, it does require a bit more planning to maintain. </p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Off Canvas</div>
	<div class="concept-description">
		<p>In this portion of the lesson the instructor went into depth with the off canvas pattern.With off canvas, instead of stacking content vertically, the off canvas places less frequently used content, for example navigation or app menus, off screen, only showing them if the screen is large enough.On smaller screens, the off canvas content is typically shown when the user taps on the icon.I was then given some quizes to test out my new skills.</p>

	</div>

	</div>
</div>
<div class="lesson">
	<h1>Optimizations</h1>
<div class="concept">
	<div class="concept-title">Images</div>
	<div class="concept-description">
		<p>Images play an integral part of every website.The HTTP archive has it pegged at near 1.2 megabytes per page,Which means that images take up 65% of every website.In order to do responsive web design, we need to consider images.If the rest of my page is changing based on device characteristics.Using the same image but changing the resolution is probably one of the most common cases.Think of providing a standard image for a labtop, but a 2X image for a high DPI display,like a Chromebook Pixel, or a Retina iMac.The best way to do this is by using the source set attribute on an image tag.With source set, the browser will choose which file it wants, and only download that one.</p>

	</div>

	</div>


<div class="concept">
	<div class="concept-title">Responsive Tables Intro</div>
	<div class="concept-description">
		<p>Tables can be tricky if they have more than a few columns, theres a pretty good chance that it's going to overflow the viewport on smaller screens, forcing horizontal scrolling. In this course the instructor went over three methods that are commonly used. Hidden Columns, No more tables and Contained tables. Like with breakpoints you want to experiment to decide what works best for your web sites content.</p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">Hidden Columns</div>
	<div class="concept-description">
		<p>Hidden columns essentially hides columns based on importance as viewport size get's smaller.I was then given a quiz to apply what i had just learned about hidden columns.</p>

	</div>

	</div>

<div class="concept">
	<div class="concept-title">No More Tables</div>
	<div class="concept-description">
		<p>With the no mor tables technique, below a certain viewport width,the table is collapsed and resembles a long list, as opposed to a table data.The nice thing about this technique is all of the data is visible no matter what the size of the viewport is.</p>

	</div>

	</div>



</div>






{% endblock%}
